*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: Poppins,Abril Fatface;
    position: relative;
    background-size: cover;   
    background-image: url("bgm.png");  
    
}

nav{
    width: 100%;
    height: 60px;
    background: #E3ECB5;
}

nav ul{

    float: right;
    margin-right:30px;
    margin-top: 15px;
    display: flex;  
}

.logo{
    position: absolute;
    height: 19px;
    left: 124px;
    top: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #05566A;
}

.login{
    font-weight: 700;
}
  
nav a {
    color: #05566A;
    font-size: 16px;
    padding: 7px 30px;
    
}

a.active,a:hover{
    color: white;
}

.blurrct{
    box-sizing: border-box;
    position: absolute;
    width: 600px;
    height: 200px;
    left: 470px;
    top: 300px;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(30px); 
    border-radius: 16px;
}



h3{
  
    top: 300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    
    color: #17FF7B;
}

p{
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    
    color: white;
}

.msg{
    position: absolute;
    margin-top: 250px;
    left: 600px;
    top: 150px;
    z-index: 9;
}

.icon{

    position: absolute;
    width: 50px;
    margin-top: 250px;
    left: 750px;
    top: 85px;
    z-index: 9;
}

.back{
    position: absolute;
    top: 515px;
    left: 730px;
    font-size: 14px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
    width: auto;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 6px;
    border-color: transparent;
    background: #04627a77;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 600;
}

.back.active,.back:hover{
    color: #05566A;
    background: white;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);

}