*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: Poppins,Abril Fatface;
    position: relative;
    background-size: cover;   
    background-image: url("bgm.png");  
    
}

nav{
    width: 100%;
    height: 60px;
    background: #E3ECB5;
}

nav ul{

    float: right;
    margin-right:30px;
    margin-top: 15px;
    display: flex;  
}

.logo{
    position: absolute;
    height: 19px;
    left: 124px;
    top: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #05566A;
}

.login{
    font-weight: 700;
}
  
nav a {
    color: #05566A;
    font-size: 16px;
    padding: 7px 30px;
    
}

a.active,a:hover{
    color: white;
}

.textpara{
    position: absolute;
    width: 470px;
    height: 96px;
    left: 165px;
    top: 64px;
    
    font-family: 'poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 96px;
    color: #FFFFFF;
}

.textpara2{
    
    position: absolute;
    width: 470px;
    height: 96px;
    left: 165px;
    top: 450px;
        
    font-family: 'poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 96px;
    color: #FFFFFF;

}

.textpara3{
    
    position: absolute;
    width: 470px;
    height: 96px;
    left: 165px;
    top: 570px;
        
    font-family: 'poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 96px;
    color: #FFFFFF;

}

.container{

    color: white;
    position: absolute;
    width: auto;
    height: 372px;
    left: 165px;
    top: 135px;
}

.container2{

    color: white;
    position: absolute;
    width: auto;
    height: auto;
    left: 165px;
    top: 520px;
}

.container3{

    color: white;
    position: absolute;
    width: auto;
    height: auto;
    left: 165px;
    top: 643px;
}

.formco1,.formco2,.formco3,.formco4{
    width: 500px;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;   
}

.addbutton{
    font-size: 14px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
    width: 500px;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 6px;
    border-color: transparent;
    background: #04627a77;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 600;
}

.addbutton.active,.addbutton:hover{
    color: #05566A;
    background: white;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);

}

.delbook{
    width: 318px;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.delbutton{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.12em;
    color: #FFFFFF;
    width: 180px;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 6px;
    border-width: 0px;
    background: rgba(255, 59, 59, 0.87);
    box-sizing: border-box;
    cursor: pointer;
}

.delbutton.active,.delbutton:hover{
    background: rgb(255, 59, 59);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.seebutton{
    width: 500px;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-weight: 600;
}

.seebutton{
    font-size: 14px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
    width: 500px;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 6px;
    border-color: transparent;
    
    background: #04627a77;
    box-sizing: border-box;
    cursor: pointer;
}

.seebutton.active,.seebutton:hover{
    color: #05566A;
    background: white;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);

}